/*--------------------*/
/*---- page style ----*/
/*--------------------*/

html, body {
    font-size: 16px;
}
body {
    background-color: #fff;
}
body .hide {
    text-indent: -9999px;
    overflow: hidden;
    height: 0px;
}

.delete-button {
    cursor: pointer;
}   

.delete-button:hover {
    color: red;   
}

li.active {
    color: blue;   
}

li.active span {
    color: black;   
}



